<style>
  #face {
    background-color: var(--Mantle);
  }
  #face .container {
    height: 100svh;
    background-color: var(--Base);
    border-radius: 0 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #face .center {
    flex-basis: 800px;
    display: flex;
    padding: 12px;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #face .center > div {
    min-width: min(300px, 100%);
  }
  #face .avatar {
    border: 3px solid var(--Text);
    border-radius: 50%;
  }
  #face .fa-arrow-down {
    position: absolute;
    bottom: 24px;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -15px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
</style>
<div id="face">
  <div class="container">
    <div class="center">
      <div>
        <h3>Que site bacana!</h3>
        <p>Lorem ipsum dolor sit amet, coisa e tal.</p>
      </div>
      <img
        class="avatar"
        src="https://avatars.githubusercontent.com/u/95936922"
      />
    </div>
    <i class="fa-solid fa-arrow-down"></i>
  </div>
</div>
