body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  height: 100svh;
}

main {
  margin: auto 0;
  text-align: center;
}

footer {
  background-color: var(--Mantle);
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 3rem 0;
  color: var(--Peach);
}

main p {
  margin: 0;
}

#by {
  color: var(--Peach);
}

input {
  color: var(--Peach);
  font-size: 1rem;
  font-weight: bold;
}

main input {
  font-size: 3rem;
  height: 3rem;
  text-align: center;
  margin: 3rem 0;
  box-sizing: border-box;
  width: 100%;
}

.in {
  display: none;
}
